<% if @employees.blank? %>
  <p>There are not any employees currently in the system.</p>
<% else %>
  <p>These are the current employees in our system</p>

  <ul id = "employees">
    <% @employees.each do |c| %>
      <li><%= link_to c.employee_id, {:action => 'show', :id => c.employee_id} -%></li>
    <% end %>
  </ul>

<% end %>
<p><%= link_to "Add new Employee", {:action => 'new' }%></p>