<% if @squads.blank? %>
  <p>There are not any squads currently in the system.</p>
<% else %>
  <p>These are the current squads in our system</p>

  <ul id = "squads">
    <% @squads.each do |c| %>
      <li> <%= c.squad_name %></li>
    <% end %>
  </ul>

<% end %>
<p><%= link_to "Add new Squad", {:action => 'new' }%></p>